@charset "utf-8";


/*もとから*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
}

p {
	margin: 0;
}

a,
a:hover{
	text-decoration:none;
}

ul{
	list-style:none;
}

body {
	font-family: Meiryo, "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0 auto;
	padding: 0;
	color:#0e4361;
	font-size:16px;
    width: 100%;
}

header {
	align-items: center;
	background: #fff;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	height: 70px;
	justify-content: space-between;
	left: 0;
	padding: 0;
	padding: 0 5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right,#65c8ff 0%,#fba8ca 100%);
	top: 70px;
	left: 0;
	color: #65c8ff;
	position: absolute;
	width: 100%;
}


/* 駿台ロゴ */

header .log_box {
	display: flex;
	flex-direction: row;
}

header .log {
	display: flex;
	align-items: center;
}

header .log a {
	display : block;
	padding : 0 5px;
}

header .log img {
	vertical-align : middle;
	height:55px;
}

header .log_txt {
    line-height: 1.5;
    margin: 5px 0 0;
    font-size: 18px;
}

header .mini_log{
	padding: 0 8px;
}

header .top_log{
	padding-left:15px;
	margin-top: 2px;
}

header .top_log img{
	height:52px;
}

header .faq_box{
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 50px;
    justify-content: center;
    margin: 3px;
    position: relative;
    width: 58px;
    line-height: 1.5;
}

header .menu_pc {
    left: 6px;
    position: absolute !important;
    top: 2px;
}

main {
	width:1000px;
	margin: 0px auto;
	display:block;
	padding: 70px 0px 0px;
}

footer {
	background: #7fb0d8;
	padding: 15px 8px 10px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align:left;
	margin: 0 auto;
}
footer p {
	display:inline-block;
	text-align:left;
}
#pageTop {
	display:none;
	bottom : 20px;
	position : fixed;
	right : 20px;
	line-height:1.5;
	z-index: 999;
}
#pageTop a {
	background-color : #333;
	border-radius : 30px;
	color : #fff;
	display : block;
	font-weight : bold;
	height : 43px;
	opacity : .8;
	padding : 8px 4px 0 4px;
	text-align : center;
	text-decoration : none;
	width : 43px;
	z-index : 999;
	-webkit-box-sizing : border-box;
	box-sizing : border-box;
}
#pageTop a i {
	margin: 3px 0 0 0px;
	display: inline-block;
	font-size:12px;
}
#pageTop a:hover {
	text-decoration: none;
	opacity: 0.7;
}




/*コンテンツ
---------------------------------------------------------------------------------------------------------------------------*/

.contents{
	overflow:hidden;
	margin-bottom:40px;
}

.next_btn,
.back_btn{
	margin:40px 0;
	text-align:center;
}

.next_btn a{
	display:block;
	width:320px;
	border:solid 1px #2992cc;
	color:#2992cc;
    margin: 0 auto;
    padding: 15px 10px 13px;
    border-radius: 10px;
    font-size: 20px;
    position : relative;
    box-shadow: 2px 2px 2px #ccc;
}

.back_btn a {
    display: block;
    width: 130px;
    border: solid 1px #aaa;
    color: #777;
    margin: 0 auto;
    padding: 12px 0px 10px 14px;
    border-radius: 10px;
    font-size: 18px;
    position: relative;
    box-shadow: 2px 2px 2px #ccc;
}

.next_btn a:before{
    color : #6bc8fe;
    content: "\f184";
    font-family: "WebHostingHub-Glyphs";
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 18px;
}

.back_btn a:before{
    color: #aaa;
    content: "\f184";
    font-family: "WebHostingHub-Glyphs";
    font-size: 16px;
    position: absolute;
    left: 8px;
    top: 16px;
    transform: rotate(180deg);
}

.section{
	margin-bottom:30px;
}

.section h2{
    margin:0 0 10px;
    font-size:24px;
}

.section h2 span{
    position : relative;
    padding:8px 15px;
    display:inline-block;
}

.section h2 span:after {
	content: "";
    display: block;
    height: 2px;
    background: linear-gradient(to right,#65c8ff 0%,#fba8ca 100%);
    left: 0px;
    color: #65c8ff;
    position: absolute;
    width: 100%;
}

.section h2 span.sub_ttl{
    padding: 0;
}

.section h2 span.sub_ttl:after{
	content: none;
}

.txt_box{
	padding:10px 15px;
}

.step_box{
	padding:10px;
}


.step_ttl{
    display: inline-flex;
    font-weight:bold;
    font-size:18px;
}


.step_ttl span:first-child {
	display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 0 2px 0px;
    width:5em;
    border-radius: 20px 0px 0px 20px;
    background:linear-gradient(to right,#65c8ff 0%,#fba8ca 100%);
    text-align:center;
}

.step_ttl span:last-child {
	display: inline-block;	display: inline-flex;
    align-items: center;
    color: #fba8ca;
    padding: 4px 0 1px 12px;
    border: solid 1px #fba8ca;
    border-left: none;
    width: 6em;
    border-radius: 0 20px 20px 0;
}


.step_txt{
    padding: 20px;
    margin-bottom: 20px;
}


.flex_box{
	display: flex;
    flex-wrap: wrap;
}


.sitei{
	width: 46%;
    border: solid 1px #2992cc;
    padding: 20px;
    margin: 20px 0px;
}

.sitei:first-child{
    margin-right: 20px;
}

.sitei_ttl{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.step_action{
	margin:40px 0;
	text-align:center;
    font-size: 14px;
}

.step_action ul{
	margin:0;
	padding:0;
	list-style:none;
}

.step_action ul li {
	display:inline-block;
    margin: 0 20px;
	color:#ddd;
}

.step_action ul li.active{
	color:#86c9fb;
}


.input_box{
	margin:45px auto 0;
	width:80%;
	border:solid 1px #ddd;
	text-align:center;
}

.kamoku{
	background:#b9e6ff;
	font-size:22px;
	font-weight:bold;
	padding:8px 20px 2px;
	line-height: 2em;
    border-bottom:dotted 4px #3d83ab;
}

.tokuten_box{
    display: flex;
    flex-wrap: wrap;
    border-bottom:dotted 4px #3d83ab;
    background:#fff;
}

.tokuten_box_ttl{
    font-size: 18px;
    font-weight: bold;
    padding: 8px 20px 2px;
    line-height: 2em;
    background: #eeeeee;
}

.tokuten_box:last-child{
    border-bottom:none;
}

.tokuten_box div{
    width: 50%;
    padding: 5px 15px;
    margin:10px 0;
}

.tokuten_box div:nth-child(odd){
    border-right:dotted 4px #3d83ab;
}

.tokuten_box div label{
	text-align:center;
	margin-bottom:5px;
	display:block;
}

.tokuten_box div input{
	line-height:2;
	font-size:18px;
	width:8em;
	text-align: center;
}

.radio_btn_box {
	display: flex;
    justify-content: space-evenly;
}

.radio_btn{
	width:200px;
	border:solid 1px #2992cc;
	padding:10px;
	margin:10px;
    border-radius: 10px;
    background:#fff;
    box-shadow: 2px 2px 2px #ccc;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.radio_btn input {
    display: none;
}

.radio_btn label {
    display: block;
    padding: 3px 0px 0px 35px;
    font-size: 20px;
    position: relative;
}

.radio_btn input:checked +label:before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 6px;
    width: 15px;
    height: 15px;
    background: #bbb;
    border-radius: 50%;
}

.radio_btn input+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid #2992cc;
}

.no1_kamoku{
    font-size: 18px;
}


.no1_kamoku select{
    width: 12em;
    font-size: 15px;
    padding: 3px 5px 6px;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.required{
	color:#d10a4b;
	font-size:16px;
	margin-left:8px;
}

.caption{
	font-size:16px;
	margin-left:8px;
}

.caption2{
	font-size:14px;
	margin-left:1.5em;
}

.section_box{
	padding:0 8px;
	overflow: hidden;
}

.section_box h3{
	font-size: 22px;
    margin-bottom: 15px;
    position: relative;
    padding: 5px 5px 0px 30px;
    border-bottom:dashed 2px #ccc;
}

.section_box h3:first-child{
	font-size: 22px;
    margin-bottom: 15px;
    position: relative;
    padding: 5px 5px 0px 30px;
}

.section_box h3:before {
    content: '';
    width: 13px;
    height: 13px;
	border:solid 2px #65c8ff;
    position: absolute;
    top: 2px;
    left: 2px;
}

.section_box h3:after {
    content: '';
    width: 10px;
    height: 10px;
	border:solid 2px #fba8ca;
    position: absolute;
    top: 10px;
    left: 10px;
}

.choose_box ul{
	margin-top:0;
	padding-left:1.5em;
	display:flex;
	flex-wrap:wrap;
	line-height:2.2;
}

.choose_box dd ul{
	margin:0;
	padding-left:1em;
}

.choose_box ul li{
	width:50%;
}

.choose_box ul li.initial{
	width:100%;
}


.choose_box ul li input[type="checkbox"],
.check_all input[type="checkbox"],
.choose_box ul li input[type="radio"]{
	display:none;
}

.choose_box ul li label.check,
.check_all label.check,
.choose_box ul li label.radio{
    position: relative;
    padding-left:28px;
}

.choose_box ul li label.check:before,
.check_all label.check:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #0e4361;
    border-radius: 4px;
    background:#fff;
}

.choose_box ul li input[type="checkbox"]:checked + label.check:after,
.check_all input[type="checkbox"]:checked + label.check:after  {
    content: "\2713";
    font-family: 'WebHostingHub-Glyphs';
    display: block;
    position: absolute;
    top: -12px;
    left: 3px;
    font-size: 18px;
}

.choose_box ul li label.radio:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #2992cc;
}

.choose_box ul li input[type="radio"]:checked + label.radio:after  {
	content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 50%;
}

.check_all{
	padding-left:1.5em;
	line-height: 2.2;
}

.choose_box dl{
	padding-left: 1.3em;
}

.choose_box dt {
    border: solid 1px #2992cc;
    line-height: 2.2;
    padding: 8px 5px 5px 50px;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 2px #ccc;
    margin-top:15px;
}

.choose_box dt:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #2992cc;
    border-radius: 50%;
}

.choose_box dt:after  {
    content: "\002b";
    display: block;
    position: absolute;
    top: 2px;
    left: 15px;
    font-size: 20px;
}

.choose_box dt.open:after  {
    content: "\2212";
    display: block;
    position: absolute;
    top: 2px;
    left: 15px;
    font-size: 20px;
}


.choose_box dd{
	margin: 0px;
    padding: 20px 15px;
    display: none;
	border-radius: 0px 0px 7px 7px;
    background: #e9f5fb;
}


.choose_box select {
	width: 12em;
    font-size: 16px;
    padding: 3px 5px 7px;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.tmpl_mB30{
	margin-bottom:30px;
}

.komeotosi{
	margin-left:1em;
	text-indent:-1em;
}

dd.simu_cau p{
	margin-bottom:15px;
}

dd.simu_cau p:last-child{
	margin-bottom:0px;
}


.univ_ttl{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin: 30px auto 10px;
    padding: 10px 10px 2px;
    position: relative;
    width:90%;
}

.univ_ttl:after {
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(to right,#65c8ff 0%,#fba8ca 100%);
    left: 0;
    color: #65c8ff;
    position: absolute;
    width: 100%;
}

.univ_ttl a{
	display:inline-block;
	color:#0e4361;
}

span.icon-addcomment{
	color:#005bac;
}

.univ_ttl a span{
	display:inline-block;
	margin-bottom:6px;
	margin-left:15px;
	font-weight:normal;
	color:#005bac;
}


.simulation_box {
    display: flex;
    width: 80%;
    margin: 0 auto 20px;
    padding: 15px;
    flex-wrap: wrap;
}

.hantei_box {
    width: 30%;
}

.value_box{
    width: 70%;
}

.hantei_type {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.result_type{
    padding: 10px;
    text-align: center;
}

.result_type span {
    display: inline-flex;
    width: 100px;
    height: 100px;
    background: #ddd;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 40px;
}

span.type_a,
th.type_a{
	background:#feb5e2;
}

span.type_b,
th.type_b{
	background:#ffcdb6;
}

span.type_c,th.type_c{
	background:#95f0ad;
}

span.type_d,
th.type_d{
	background:#b7b5ff;
}

span.type_e,
th.type_e{
	background:#b5ddff;
}

span.type_blank{
	background:#ddd;
}

.value_box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.value_box table{
	width:100%;
	border-collapse: collapse;
}

.value_box table th,
.value_box table td{
    padding:10px;
    text-align:center;
    border: solid 1px #ddd;
    width:50%;
}

.value_box table th{
    border-bottom: none;
}

.value_box table td{
    border-top: none;
}

.value_box table td a{
    display: inline-block;
    border: solid 1px #2992cc;
    color: #2992cc;
    margin: 0 5px;
    padding: 0px 25px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #ccc;
}


.rialtime_box {
    padding: 10px 15px;
}

.rialtime_box dl {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.rialtime_box dt {
	width: 12%;
    padding: 8px 15px 6px;
    background: #bbe6ff;
    margin-bottom: 5px;
    position:relative;
}

.rialtime_box dt:after {
    content: "：";
	top: 7px;
    right: 0;
    color: #0e4361;
    position: absolute;
}

.rialtime_box dd {
    width:88%;
    padding: 8px 15px 6px;
    background: #bbe6ff;
    margin:0 0 5px;
}

#tokuten .rialtime_box dd {
    width: 20%;
    padding: 8px 10px 6px;
    background: #bbe6ff;
    margin: 0 5px 5px 0;
    display: flex;
    justify-content: space-between;
}


.icon-search{
	margin:0 3px;
}

.search_box {
    margin: 40px 0;
    text-align:center;
}

.search_box input#univ-search-text{
    border: solid 1px #2992cc;
    border-radius: 50px;
    margin: 0 auto;
    width: 50%;
    line-height: 2.2;
    font-size: 18px;
    padding: 7px 55px 7px 15px;
}

input#univ-search-btn{
	background: none;
    border: none;
    color: #2992cc;
    cursor: pointer;
    display: inline-block;
    font-family: "WebHostingHub-Glyphs";
    font-size: 1.8em;
    outline: none;
    padding: 0;
    vertical-align: middle;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    right: 55px;
    top: 0px;
}

.search_box input#univ-search-text:focus {
    outline: none;
}

.search_univ_result {
    padding: 10px 15px;
}

.result_number {
    text-align: right;
    padding-right: 15px;
}

.result_number span{
	color: #65c8ff;
    font-size: 24px;
    margin: 0 6px 0 2px;
    display: inline-block;
    vertical-align: baseline;
}

.search_univ_result ul{
	padding:10px;
	margin: 0;
}

.search_univ_result ul li{
    border-bottom: dashed 1px #bbb;
    margin-bottom: 5px;
}

.search_univ_result ul li a{
    padding: 8px;
    display: flex;
    align-items: center;
    color: #0e4361;
    position:relative;
}

.search_univ_result ul li a:hover{
    background:#e9f5fb;
}

.search_univ_result ul li a:after{
    color: #6bc8fe;
    content: "\f184";
    font-family: "WebHostingHub-Glyphs";
    position: absolute;
    right: 7px;
    top: 12px;
    font-size: 14px;
}

.search_univ_result ul li span {
    border-radius: 5px;

    display: inline-flex;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    margin-right: 6px;
    color:#fff;
    flex: 0 0 1.5em;
}

.search_univ_result ul li span.icon_kokuritsu{
	background:#6699ff;
}

.search_univ_result ul li span.icon_kouritsu{
	background:#00CC99;
}

.search_univ_result ul li span.icon_shiritsu{
	background:#FF9900;
}

.hantei_kigou .hk_box{
	display:flex;
    align-items: center;
}

.hantei_kigou .hk_box div{
	width:70px;
	padding: 5px;
}

.hantei_kigou .hk_box p{
	flex-grow:2;
}


.hantei_kigou .hk_box .result_type span,
.your_rank span {
    display: inline-flex;
    width: 38px;
    height: 38px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}

dd.hantei_kigou div:last-child {
    padding: 20px 20px 5px;
}

.Inpage_link{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 50px;
}

.Inpage_link a{
    width: 200px;
    border: solid 1px #2992cc;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    display: block;
    padding: 15px 35px 15px 10px;
    font-size: 20px;
    position: relative;
	color:#0e4361;
	text-align: center;
}

.Inpage_link a:after{
    content: "\f48b";
    font-family: "WebHostingHub-Glyphs";
    position: absolute;
    right: 10px;
    top: 17px;
}

.section_box h4{
    font-size: 20px;
    border-left: solid #0e4361 8px;
    padding: 2px 10px 0;
    margin: 10px;
}

.bunpu_box{
	padding:20px;
	margin-bottom:60px;
}

.Inpage_link_id{
	padding-top:70px;
	margin-top:-70px;
}

table.ave-table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto 30px;
}

table.ave-table th {
    padding:10px;
    text-align:center;
    border: solid 1px #ddd;
    background: #CEF4EB;;
}

table.ave-table td {
    padding:10px;
    text-align:center;
    border: solid 1px #ddd;
}

.rank_box{
	width:70%;
	margin:0 auto 30px;
}

table.rank-table{
    width: 100%;
    border-collapse: collapse;
}

table.rank-table th,
table.rank-table td {
    padding:10px;
    text-align:center;
    border: solid 1px #ddd;
}


.your_rank,
.tokuten_line{
	text-align:center;
	margin:20px;
    font-size: 20px;
}

.your_rank span{
	margin:0 8px;
}

.tokuten_line span{
	color: #d10a4b;
	margin:0 8px;
	font-weight: bold;
}

.bunpu-table{
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}

.bunpu-table th,
.bunpu-table td{
    padding:10px;
    text-align:center;
    border: solid 1px #ddd;
}

.bunpu-table thead{
    background: #CEF4EB;;
}

.bunpu-table thead th:nth-child(1){
	width:25%;
}

.bunpu-table thead th:nth-child(2){
	width:16%;
}


.docking_moshi {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
}

.docking_moshi select{
	width: 20em;
}

#docking.input_box{
	margin-bottom:20px;
}


#docking_input {
	display:none;
}

.englishWrite,
.englishListening,
.japanese,
.modernJapanese,
.ancientWritings,
.chineseWritings,
.newMathOne,
.newMathOneA,
.newMathTow,
.newMathTowB,
.japaneseHistoryB,
.worldHistoryB,
.geographyB,
.japaneseHistoryA,
.worldHistoryA,
.geographyA,
.modernSociety,
.ethics,
.politiceEconomics,
.ethicsPoliticsEconomics,
.basicPhysicalScience,
.basicScience,
.basicBiology,
.basicEarthScience,
.physicalScience,
.science,
.biology,
.earthScience,
.trialJapanese,
.trialModernJapanese,
.trialMath,
.trialEnglish,
.trialPhysicalScience,
.trialBiology,
.trialScience,
.trialEarthScience,
.trialWorldHistory,
.trialJapaneseHistory,
.trialGeography,
.trialModernSociety,
.trialEthics,
.trialEthicsPoliticsEconomics,
#tokuten .rialtime_box dd.englishWrite,
#tokuten .rialtime_box dd.englishListening,
#tokuten .rialtime_box dd.japanese,
#tokuten .rialtime_box dd.modernJapanese,
#tokuten .rialtime_box dd.ancientWritings,
#tokuten .rialtime_box dd.chineseWritings,
#tokuten .rialtime_box dd.newMathOne,
#tokuten .rialtime_box dd.newMathOneA,
#tokuten .rialtime_box dd.newMathTow,
#tokuten .rialtime_box dd.newMathTowB,
#tokuten .rialtime_box dd.japaneseHistoryB,
#tokuten .rialtime_box dd.worldHistoryB,
#tokuten .rialtime_box dd.geographyB,
#tokuten .rialtime_box dd.japaneseHistoryA,
#tokuten .rialtime_box dd.worldHistoryA,
#tokuten .rialtime_box dd.geographyA,
#tokuten .rialtime_box dd.modernSociety,
#tokuten .rialtime_box dd.ethics,
#tokuten .rialtime_box dd.politiceEconomics,
#tokuten .rialtime_box dd.ethicsPoliticsEconomics,
#tokuten .rialtime_box dd.basicPhysicalScience,
#tokuten .rialtime_box dd.basicScience,
#tokuten .rialtime_box dd.basicBiology,
#tokuten .rialtime_box dd.basicEarthScience,
#tokuten .rialtime_box dd.physicalScience,
#tokuten .rialtime_box dd.science,
#tokuten .rialtime_box dd.biology,
#tokuten .rialtime_box dd.earthScience,
#tokuten .rialtime_box dd.trialJapanese,
#tokuten .rialtime_box dd.trialModernJapanese,
#tokuten .rialtime_box dd.trialMath,
#tokuten .rialtime_box dd.trialEnglish,
#tokuten .rialtime_box dd.trialPhysicalScience,
#tokuten .rialtime_box dd.trialBiology,
#tokuten .rialtime_box dd.trialScience,
#tokuten .rialtime_box dd.trialEarthScience,
#tokuten .rialtime_box dd.trialWorldHistory,
#tokuten .rialtime_box dd.trialJapaneseHistory,
#tokuten .rialtime_box dd.trialGeography,
#tokuten .rialtime_box dd.trialModernSociety,
#tokuten .rialtime_box dd.trialEthics,
#tokuten .rialtime_box dd.trialEthicsPoliticsEconomics{
	display:none;
}

/*追加*/



#select_btn:active {
    opacity: 80%;
}
#select_btn:hover {
    opacity: 50%;
}

#unv_selected {
    visibility: collapse;
}

#select_btn:hover + #unv_selected {
    visibility: visible;
    display: block;
    margin: 0 auto;
}

table,td,tr {
    border: 2px #0e4361 solid;
    display: inline-block;
    text-align: left;
    margin:auto 0;
    padding: 0 auto;
}

tr, td{
    width: 100%;
    margin: 0 auto;
}



/*スマホ
---------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:768px) {

body {
	font-size:16px;
}

main {
	width:100%;
	overflow: hidden;
}

header .log_box {
    flex-direction: column;
	width: 100%;
}

header .log_txt {
    white-space: nowrap;
    font-size: 14px;
}

#top header {
    height: 135px;
}

#top header:after {
    top: 135px;
}

header .top_log{
	margin-top:10px;
	padding:0;
    text-align: center;
}

#top main {
    padding-top: 135px;
}

.section h2{
	font-size:22px;
}

.step_ttl {
    font-size: 18px;
}

.step_txt {
    padding: 15px 8px;
}

.sitei {
    width: 48%;
    padding: 8px;
}

.sitei:first-child {
    margin-right: 10px;
}

.search_univ_result ul li a {
    padding: 5px 18px 8px 8px;
}



}


@media screen and (max-width: 599px) {

}

@media screen and (max-width: 320px) {

header .log_txt {
    font-size: 12px;
}

header .top_log img {
    height: 47px;
}

.next_btn a {
    width: 300px;
}


}